<!--Footer-->
<footer class="page-footer default-color text-center text-md-left pt-4 mt-4">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-6 offset-md-1">
        <h5 class="title">
          <a href="#">News Collection</a>
        </h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-4 offset-md-1">
        <h5 class="title">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Headlines</a>
          </li>
          <li>
            <a href="#!">Business</a>
          </li>
          <li>
            <a href="#!">Science</a>
          </li>
          <li>
            <a href="#!">Technology</a>
          </li>
          <li>
            <a href="#!">Sports</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://portfolio-rishi-khatiwada.firebaseapp.com/"> Rishi Khatiwada </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
