footer a.underline {
  text-decoration: underline;
}
.footer-links {
  margin-left: 5rem;

  @media (max-width: 768px) {
    margin-left: initial;
  }
}
hr.hr-style {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  width: 0;
  @media (max-width: 768px) {
    width: 100%;
  }
}
