<div class="jumbotron jumbotron-fluid wow zoomIn elegant-color-dark">
  <div class="container text-center jumbotron-text">
    <h1 class="heading-text text-white">
      {{ apiCategory | uppercase }} HEADLINES
    </h1>
  </div>
</div>
<div class="container mdb-cards" *ngIf="dataObject">
  <mdb-card
    cascade="true"
    wider="true"
    reverse="true"
    class="my-4"
    *ngFor="let article of dataArticles"
  >
    <!--Card image-->

    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img
        src="{{ article.multimedia[0].url }}"
        class="container article-image"
        *ngIf="article.multimedia[0]"
        alt="{{ article.multimedia[0].caption }}"
      ></mdb-card-img>

      <!-- *ngIf="article.urlToImage" -->
      <a href="{{ article.url }}" target="_blank" rel="noopener">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--/Card image-->

    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
      <!--Title-->
      <mdb-card-title>
        <a
          href="{{ article.url }}"
          target="_blank"
          rel="noopener"
          class="no-link-color"
        >
          <h4>
            <strong>{{ article.title }}</strong>
          </h4>
        </a>
      </mdb-card-title>
      <div class="container my-3">
        <div class="row indigo-text">
          <div class="col-md-6">
            <h5>
              <strong *ngIf="article.author">By: </strong>
              <span>{{ article.byline }}</span>
            </h5>
          </div>

          <div class="col-md-6">
            <h6>
              <strong class="lead"> Date: </strong>
              <span>{{ article.published_date | date }}</span>
            </h6>
          </div>
        </div>
      </div>

      <mdb-card-text class="large">
        {{ article.abstract }}
      </mdb-card-text>
      <h5 class="indigo-text">
        <a href="{{ article.url }}" target="_blank" rel="noopener">
          <strong>More...</strong>
        </a>
      </h5>
    </mdb-card-body>
  </mdb-card>
</div>
